<!--views/articles/new.ejs-->
<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <h1>Add an article</h1>
    <form method="POST" action="/articles/<%= id %>?_method=PUT">
      <input type="text" name="article[title]" placeholder="Article title" value="<%= art.title %>"><br />
      <input type="text" name="article[author]" placeholder="Article author" value="<%= art.author %>"><br />
      <textarea name="article[content]">
      	<%= art.content %>
      </textarea><br />
      <button>Save </button>
    </form>
  </body>
</html>
