<!--views/site/about.ejs-->
<!DOCTYPE HTML>
<html>
<link rel="stylesheet" href="/style.css">

	<body>
		<h1>Site About</h1>
			<a href="/">Main Page</a>
		<p>
			This is a blog site to post articles on random things.
		</p>
	</body>
</html>

