<!--views/site/contact.ejs-->
<!DOCTYPE HTML>
<html>
<link rel="stylesheet" href="/style.css">

	<body>
		<h1>Site Contact</h1>
			<a href="/">Main Page</a>
		<ul>
			<li>Email: addisontam123@gmail.com</li>
			<li>Phone: 650-862-7213</li>
		</ul>
	</body>
</html>

